

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Yulong Ye's Homepage</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Yaoyao Liu">
    <meta name="keywords" content="yaoyao liu, liu yaoyao, yaoyaoliu, liuyaoyao">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Yaoyao Liu | Johns Hopkins University">
    <meta property="og:url" content="https://www.cs.jhu.edu/~yyliu/">
    <meta property="og:site_name" content="Yaoyao Liu | Johns Hopkins University">
    <meta property="og:description" content="Yaoyao Liu is a postdoctoral fellow at Johns Hopkins University. His research lies in meta-learning, incremental learning, and image generation.">
    <meta property="og:locale" content="default">
    <meta property="og:image" content="https://img.yliu.me/avatar.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Yaoyao Liu | Johns Hopkins University">
    <meta name="twitter:description" content="Yaoyao Liu is a postdoctoral fellow at Johns Hopkins University. His research lies in meta-learning, incremental learning, and image generation.">
    <meta name="twitter:image" content="https://img.yliu.me/avatar.jpg">

    <link rel="canonical" href="https://www.cs.jhu.edu/~yyliu/"/>
    <link rel="icon" media="(prefers-color-scheme:dark)" href="./assets/img/favicon-dark.png" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="./assets/img/favicon.png" type="image/png" />
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/pub.css">
    <link rel="stylesheet" href="./assets/css/nav.css">
    
    <script src="./assets/js/github-stars.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>
    
    <script type="text/javascript">
      function toggle_vis(id) {
          var e = document.getElementById(id);
          if (e.style.display == 'none')
              e.style.display = 'inline';
          else
              e.style.display = 'none';
      }
   </script>

   <script>
      function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
      }
   </script>
   

  </head>
  <body>
    
    <div class="topnav">

      <a href="https://www.birmingham.ac.uk/index.aspx"><img width="190" src="./assets/img/University-of -Birmingham.png"></a>

      <div id="myLinks">
      
  
    <a class="normal right" href="./#contact">Contact</a>
    

  
    <a class="normal" href="./#publications">Publications</a>
  

  
    <a class="normal" href="./#about-me">Bio</a>
  



      </div>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      
    </div>
    

    <script src="./assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        backgroundColor: '#fff',
        innerHTML: 'Back to Top',
        textColor: '#333'
      })
    </script>
    <style>
        #back-to-top {
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 15px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          height: 30px;
        }
    </style>
    
    <div class="wrapper">
      <header>

        <a class="image avatar"><img src="./assets/img/Elon.jpg" alt="avatar" /></a>

        <h1>Yulong Ye</h1>
        <position style="font-size:1.10rem;">Ph.D. Student</position>
        <br>
        <a href="https://www.birmingham.ac.uk/index.aspx" rel="noopener"><autocolor>University of Birmingham</autocolor></a>
        <br>
        <email>yxy382@student.bham.ac.uk</email>
        <br>
        <br>

        <div class="social-icons">
        
        <a style="margin: 0 5px 0 0" href="https://scholar.google.com/citations?hl=zh-CN&user=dRAn7W4AAAAJ">
          <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>  
 
        <a style="margin: 0 5px 0 0" href="#">
          <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        
        
        <a style="margin: 0 5px 0 0" href="#">
          <i class="fab fa-github"></i>
        </a>
        
        <a style="margin: 0 5px 0 0" href="#">
          <i class="fab fa-linkedin"></i>
        </a>
        
        <a style="margin: 0 0 0 0" href="#">
          <i class="fab fa-x-twitter"></i>
        </a>
        
        </div>
        
        <a/>    </a>
        
        <!---
        <div class="image-container">
        <a class="fixed-image"><img src="./assets/img/CT.jpg" alt="avatar" /></a>
        <a class="fixed-image"><img src="./assets/img/EC.jpg" alt="avatar" /></a>
        </div>
        -->
  


        
        <br>
      </header>
      <section>

      <h1 id="about-me"></h1>

<h2 style="margin: 60px 0px 10px;">Short Bio</h2>

<p>I am currently pursuing my Ph.D. in the <a href="https://www.birmingham.ac.uk/schools/computer-science/index.aspx" target="_blank">School of Computer Science</a> at the <a href="https://www.birmingham.ac.uk/index.aspx" target="_blank"> University of Birmingham </a>, where I am delving into the field of software system optimization. Under the guidance of Prof. <a href="https://ideas-labo.github.io/" target = "_blank">Tao Chen</a> and Prof. <a href="https://sites.google.com/view/miqing-li" target="_blank">Miqing Li</a>, I am dedicated to developing cutting-edge multifidelity configuration tuning algorithms, specifically designed to enhance the performance of expensive optimization processes within software systems.</p>

<p>I embarked on my academic journey in Evolutionary Computation at <a href="https://en.szu.edu.cn/" target="_blank">Shenzhen University</a>, mentored by Prof. <a href="https://scholar.google.com/citations?user=87XNTVsAAAAJ&hl=zh-CN" target="_blank">Qiuzhen Lin</a> during my master’s studies in Computer Technology.</p>

<h1 id="Research Interests"></h1>

<h2 style="margin: 60px 0px 10px;">Research Interests</h2>

<ul>
<li><strong>Software Configuration Tuning:</strong> Multi-Fidelity Optimization, Bayesian Optimization. </li>
<li><strong>Evolutionary Computation:</strong> Dynamic Multi-objective Optimization, Learning to Optimization.</li>
<li><strong>Machine Learning:</strong> Transfer Learning.</li>
</ul>

<h1 id="Selected Awards"></h1>

<h2 style="margin: 60px 0px 10px;">Selected Awards</h2>

<ul>
<li><strong>[May 2024]</strong> 2nd Prize Award in 2024 Soyotec Chinese Intelligent Optimization Competition for Dynamic Multi-Objective Optimization.</li>
<li><strong>[Nov. 2023]</strong> Full PhD Studentship in the School of Computer Science, University of Birmingham.</li>
<li><strong>[Jul. 2023]</strong> 2nd Runner-up Award in IEEE CEC 2023 Competition on Dynamic Constrained Multiobjective Optimization.</li>
<li><strong>[Nov. 2022]</strong> National Scholarship for Postgraduates <strong>(Top 1%)</strong>, Shenzhen University.</li>
<li><strong>[Nov. 2022]</strong> The First Prize Scholarship, Shenzhen University.</li>
<li><strong>[Jul. 2022]</strong> 2nd Runner-up Award in IEEE CEC 2022 Competition on Seeking Multiple Optima in Dynamic Environments.</li>


</ul>

<h1 id="publications"></h1>

<h2 style="margin: 60px 0px -15px;">Publications <temp style="font-size:15px;">[</temp><a href="https://scholar.google.com/citations?hl=zh-CN&user=dRAn7W4AAAAJ" target="_blank" style="font-size:15px;">Google Scholar</a><temp style="font-size:15px;">]</temp><temp style="font-size:15px;">[</temp><a href="https://dblp.uni-trier.de/pid/324/4004.html" target="_blank" style="font-size:15px;">DBLP</a><temp style="font-size:15px;">]</temp></h2>

<div class="publications">
<ol class="bibliography">
  
  
<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/DLiSA.jpg" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
            <abbr class="badge">ICSE</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://arxiv.org/abs/2501.00840">Distilled Lifelong Self-Adaptation for Configurable Systems</a></div>
      <div class="author"><strong>Yulong Ye</strong>, Tao Chen*, Miqing Li </div>
      <div class="periodical"><em>Proceedings of the 47th ACM/IEEE International Conference on Software Engineering <strong>(ICSE)</strong>, 2025.</em>
      </div>
      
    <div class="links">
      <a href="https://arxiv.org/abs/2501.00840" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/ideas-labo/dlisa" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:VPqdMoqyJVUJ:scholar.google.com/&output=citation&scisdr=ClH--9OWEOTEvgdn9GQ:AFWwaeYAAAAAZ7ph7GQIJIbwPXPoiIo90gvFw0s&scisig=AFWwaeYAAAAAZ7ph7P-C8UmkdTf4nFZD63wC_Aw&scisf=4&ct=citation&cd=-1&hl=zh-CN" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
    </div>
    
  </div>
</div>
</li>

<br />  
  
  
  
<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/DIP.jpg" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
            <abbr class="badge">TEVC</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://ieeexplore.ieee.org/abstract/document/10508204">Learning-Based Directional Improvement Prediction for Dynamic Multiobjective Optimization</a></div>
      <div class="author"><strong>Yulong Ye</strong>, Songbai Liu, Junwei Zhou, Qiuzhen Lin*, Min Jiang, Kay Chen Tan </div>
      <div class="periodical"><em>IEEE Transactions on Evolutionary Computation <strong>(TEVC)</strong>, 2024.</em>
      </div>
      
    <div class="links">
      <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10508204" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/Yulong-Ye/DIP-DMOEA" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:VPqdMoqyJVUJ:scholar.google.com/&output=citation&scisdr=ClH--9OWEOTEvgdn9GQ:AFWwaeYAAAAAZ7ph7GQIJIbwPXPoiIo90gvFw0s&scisig=AFWwaeYAAAAAZ7ph7P-C8UmkdTf4nFZD63wC_Aw&scisf=4&ct=citation&cd=-1&hl=zh-CN" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
    </div>
    
  </div>
</div>
</li>

<br />


<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/LDEA.jpg" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
            <abbr class="badge">EAAI</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="#">A Localized Decomposition Evolutionary Algorithm for Imbalanced Multi-objective Optimization</a></div>
      <div class="author"> <strong>Yulong Ye</strong>, Qiuzhen Lin*, Ka-Chun Wong, Jianqiang Li, Zhong Ming, Carlos A. Coello Coello </div>
      <div class="periodical"><em>Engineering Applications of Artificial Intelligence <strong>(EAAI)</strong>, 2024.</em>
      </div>
      
    <div class="links">
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
    </div>
    
  </div>
</div>
</li>

<br />





<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/KTM.jpg" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
            <abbr class="badge">TSMC</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10292939">Dynamic Multiobjective Evolutionary Optimization via Knowledge Transfer and Maintenance</a></div>
      <div class="author">Qiuzhen Lin, <strong>Yulong Ye</strong>, Lijia Ma*, Min Jiang, Kay Chen Tan </div>
      <div class="periodical"><em>IEEE Transactions on Systems, Man, and Cybernetics: Systems <strong>(TSMC)</strong>, 2023.</em>
      </div>
      
    <div class="links">
      <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10292939" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/Yulong-Ye/KTM-DMOEA" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:OCtko6a4fXsJ:scholar.google.com/&output=citation&scisdr=ClH--9OWEOTEvgdkeoc:AFWwaeYAAAAAZ7piYoeAwuIQEoSVrR69-wr0fiA&scisig=AFWwaeYAAAAAZ7piYv5snS2QApJxkSqJI-iz0Lo&scisf=4&ct=citation&cd=-1&hl=zh-CN" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
    </div>
    
  </div>
</div>
</li>

<br />



<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/KGB.jpg" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
            <abbr class="badge">KBS</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://www.sciencedirect.com/science/article/pii/S0950705122005810">Knowledge guided Bayesian classification for dynamic multi-objective optimization</a></div>
      <div class="author"><strong>Yulong Ye</strong>, Lingjie Li, Qiuzhen Lin*, Ka-Chun Wong, Jianqiang Li, Zhong Ming</div>
      <div class="periodical"><em>Knowledge-Based Systems <strong>(KBS)</strong>, 2022.</em>
      </div>
    <div class="links">
       
      <a href="https://www.sciencedirect.com/science/article/pii/S0950705122005810" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      
       
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      
      
       
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
      
       
      <!--<strong> <i style="color:#e74d3c">Early Accept</i></strong>-->
      
      
    </div>
  </div>
</div>
</li>

<br />














<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/MSTL.jpg" class="teaser img-fluid z-depth-1" />
            <abbr class="badge">IS</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://www.sciencedirect.com/science/article/pii/S0020025522005527">Multiple source transfer learning for dynamic multiobjective optimization</a></div>
      <div class="author"><strong>Yulong Ye</strong>, Qiuzhen Lin, Lijia Ma, Ka-Chun Wong, Maoguo Gong, Carlos A Coello Coello</div>
      <div class="periodical"><em>Information Sciences <strong>(IS)</strong>, 2022.</em>
      </div>
    <div class="links">
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="#" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
<br />

<br />

  <script>
  githubStars("yaoyao-liu/meta-transfer-learning", function(stars) {
  var startext = document.getElementById("githubstars_mtl");
        startext.innerHTML=stars;
  });
  </script>
  <script>
      $(document).ready(function () {
          
          var gsDataBaseUrl = 'https://raw.githubusercontent.com/yaoyao-liu/yaoyao-liu.github.io/'
          
          $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
              var totalCitation = data['publications']['Uf9GqRsAAAAJ:bEWYMUwI8FkC']['num_citations']
              document.getElementById('total_citation_mtl').innerHTML = totalCitation;
              var citationEles = document.getElementsByClassName('show_paper_citations')
              Array.prototype.forEach.call(citationEles, element => {
                  var paperId = element.getAttribute('data')
                  var numCitations = data['publications'][paperId]['num_citations']
                  element.innerHTML = '| Citations: ' + numCitations;
              });
          });
      })
  </script>
    </div>
  </div>
</div>
</li>

</ol>
</div>

<h1 id="teaching"></h1>

<h2 style="margin: 60px 0px 10px;">Collaboration</h2>

<ul>
  
  <li>
    <div class="title"><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9967742">[1] Clustering-based Autoencoding for Dynamic Multiobjective Evolutionary Optimizatione</a></div>
    <div class="author"><strong>Yulong Ye</strong>, Qingling Zhu*, Lingjie Li, Jianyong Chen</div>
  </li>
  
  <li>
    <div class="title"><a href="https://link.springer.com/article/10.1007/s12293-022-00353-0">[2] A novel multimodal multiobjective memetic algorithm with a local detection mechanism and a clustering-based selection strategy</a></div>
    <div class="author">Naili Luo, <strong>Yulong Ye</strong>, Wu Lin, Qiuzhen Lin*, Victor CM Leung</div>
  </li>
  
  <li>
    <div class="title"><a href="https://www.sciencedirect.com/science/article/pii/S0952197623002233">[3] A Kriging model-based evolutionary algorithm with support vector machine for dynamic multimodal optimization</a></div>
    <div class="author">Xunfeng Wu, Qiuzhen Lin*, Wu Lin, <strong>Yulong Ye</strong>, Qingling Zhu, Victor CM Leung</div>
  </li>
  
  <li>
    <div class="title"><a href="https://ieeexplore.ieee.org/abstract/document/10294439">[4] Dynamic Constrained Multi-Objective Evolutionary Optimization via Adaptive Two-Stage Archiving and Autoencoder Prediction</a></div>
    <div class="author">Qianhui Wang, <strong>Yulong Ye</strong>, Qingling Zhu, Songbai Liu, Qiuzhen, Lin*</div>
  </li>
  
</ul>

<h1 id="services"></h1>

<h2 style="margin: 60px 0px 10px;">Services</h2>

<h4 style="margin:0 10px 0;">Journal Reviewers</h4>

<ul style="margin:0 0 5px;">
  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4235"><autocolor>IEEE Transactions on Evolutionary Computation (TEVC)</autocolor></a></li>
  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6221021"><autocolor>IEEE Transactions on Systems, Man, and Cybernetics: Systems (TSMC)</autocolor></a></li>
  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6570650"><autocolor>IEEE Transactions on Computational Social Systems (TCSS)</autocolor></a></li>
  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=7433297"><autocolor>IEEE Transactions on Emerging Topics in Computational Intelligence (TETCI)</autocolor></a></li>
  <li><a href="https://dl.acm.org/journal/taas"><autocolor>ACM Transactions on Autonomous and Adaptive Systems (TAAS)</autocolor></a></li>
  <li><a href="https://www.sciencedirect.com/journal/information-sciences"><autocolor>Information Sciences (IS)</autocolor></a></li>
  <li><a href="https://www.sciencedirect.com/journal/applied-soft-computing"><autocolor>Applied Soft Computing (ASC)</autocolor></a></li>
</ul>


  
</ul>

<h1 id="contact"></h1>

<h2 style="margin: 60px 0px 10px;">Contact</h2>

<p><strong>Address:</strong> <a href="https://www.google.com/maps/place/School+of+Computer+Science/@52.4501918,-1.9384155,17z/data=!3m1!4b1!4m6!3m5!1s0x4870bdc98e5a447f:0x927048e0e8991f65!8m2!3d52.4501886!4d-1.9358352!16s%2Fg%2F1pxqbntk9?hl=zh-cn&entry=ttu">University of Birmingham, University Rd W, Birmingham B15 2TT</a>
<br />
<strong>Office Location:</strong> The School of Computer Science, 145.
<br />
<strong>Email:</strong> <email> yxy382@student.bham.ac.uk</email>
<br />
</p>



      <br>

      <!--
      <div style="font: 12px/1.2 Crimson Pro, serif">
        <br>
        <a href="https://github.com/yaoyao-liu/minimal-light" rel="noopener">Feel free to use my website's source code.</a>
      </div>
     

      <br>
      
      <div style="width:100px; pointer-events: none;">
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=043361&w=153&t=n&d=CJD8XwsJhSyQ6sbsU-Gw0cNcUlbah7KW3xvHN2QlwW0&co=ffffff&cmo=3eb7f0&ct=043361'></script>
      </div>
       -->
      
      </section>
      <footer>
        <div style="font: 12px/1.2 Crimson Pro, serif">
        <p>
        <small>
        
        
        </small>
        </p>
        </div>
        <br>
        <br>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>